.form
  &__search
    position: relative
    input
      border-radius: 10px/50%
      border: 1px solid #343434
      padding-bottom: 3px
      padding-left: 30px

    button
      position: absolute
      background-color: transparent
      border: none
      top: 5px
