.header
  background: url("../img/header_bg.jpg") no-repeat center top/cover
  padding-top: 30px
  font-family: $ff-medium
  font-size: 1.3rem
  &__top
    text-transform: uppercase
    padding-bottom: 80px
    display: flex
    justify-content: space-between

  &__logo
    background: url("../img/logo.png") no-repeat 0 center
    padding-left: 30px
    position: relative
    span
      margin-left: 100px
      position: absolute
      top: 0
  &__bottom
    display: flex
    justify-content: space-between
  &__title
    color: #ffffff
    width: 40%
    text-align: left
  &__button
    border-radius: 5px
    text-transform: uppercase
    border: none
    padding: 15px 30px
    cursor: pointer
    font-family: $ff-black
    color: #ffffff
    margin-top: 50px
    font-size: 1.2rem
    margin-bottom: 100px
    background: #00c3ff
    background: -moz-linear-gradient(left, #00c3ff 1%, #0081ff 100%)
    background: -webkit-linear-gradient(left, #00c3ff 1%,#0081ff 100%)
    background: linear-gradient(to right, #00c3ff 1%,#0081ff 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c3ff', endColorstr='#0081ff',GradientType=1 )

.arrow
  position: relative
  margin-top: 20px
  color: #ffffff
  &__left
    right: 100px
    width: 30px
    height: 30px
    border-radius: 50%
    border: 2px solid #ffffff
    text-align: center
    padding-top: 5px
    box-sizing: border-box
    font-size: 0.9rem
    position: absolute
  &__right
    right: 40px
    position: absolute
    width: 30px
    height: 30px
    border-radius: 50%
    border: 2px solid #ffffff
    text-align: center
    padding-top: 5px
    box-sizing: border-box
    font-size: 0.9rem


