.hero
  margin-top: 100px
<<<<<<< HEAD
  &__top
    display: flex
    justify-content: space-between
  &__content
    width: 40%
=======
  &__wrap
    display: flex
    justify-content: space-between
  &__content
    width: 50%
>>>>>>> f1aa006d005dbf19ad6f03c01bd7b8698a33b596
  &__title
    text-align: left
    font-size: 2rem
  &__author
    text-align: right
    margin-top: 40px
    color: #000
    font-family: $ff-medium
    span
<<<<<<< HEAD
      font-family: $ff-italic
  &__pic
    width: 57%
    img
      width: 100%
  &__list
    margin-top: 50px
  &__item
    //position: relative
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 30px
  &__article
    width: 55%
    h3
      color: #000
      margin-bottom: 20px
      font-size: 1.2rem
      font-family: $ff-medium
      &:after
        content: ''
        display: block
        border: 2px solid #13C1FF
        margin-top: 20px
        width: 50px

.icon
  position: relative
  text-align: center

  &1
    @include sprite($icon-cap1)
  &2
    @include sprite($icon-cap2)
  &3
    @include sprite($icon-cap3)
  &__text
    position: absolute
    top: 50%
    left: 50%
    width: 50%
    transform: translate(-50%, -50%)
    color: #ffffff
    span
      font-size: 1rem
      font-family: $ff-main
      text-align: left
      display: block
      padding-left: 20px
      font-size: 0.9rem
  &__number
    font-size: 4rem
    font-family: $ff-black

=======
      font-family: $ff-italic
>>>>>>> f1aa006d005dbf19ad6f03c01bd7b8698a33b596
