.work
  text-align: center
  padding: 120px 0
  &__title
    margin-bottom: 110px
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__item

    box-sizing: border-box
    padding: 5px
