.services
  padding-top: 100px
  &__title
    text-align: center
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__item
    width: 50%
    position: relative
    box-sizing: border-box
    padding-bottom: 20px
    &:nth-child(n+1)
      padding-right: 20px

    //&:nth-child(2n)
    //  padding-left: 10px
    img
      width: 100%
  &__text
    width: 90%
    text-align: left
    padding-left: 30px
    margin: 0 auto
    position: absolute
    color: #ffffff
    bottom: 50px
    h3
      margin-bottom: 20px
      font-family: $ff-medium