@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'italic';
  src: url("../fonts/GothamPro/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Italic.otf") format("otf");
}

@font-face {
  font-family: 'medium';
  src: url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.otf") format("otf");
}

@font-face {
  font-family: "black";
  src: url("../fonts/GothamPro/GothamPro-Black?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.otf") format("otf");
}

@font-face {
  font-family: 'regular';
  src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.otf") format("otf");
}

html {
  font-size: 16px;
}

body {
  font-family: "regular", Ariel, sans-serif;
  color: #808181;
}

button {
  outline: none;
}

textarea {
  outline: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.title {
  text-align: center;
  color: #000;
  font-size: 2.4rem;
  font-family: "black", Ariel, sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.title__text {
  font-size: 1.1rem;
}

.header {
  background: url("../img/header_bg.jpg") no-repeat center top/cover;
  padding-top: 30px;
  font-family: "medium", Ariel, sans-serif;
  font-size: 1.3rem;
}

.header__top {
  text-transform: uppercase;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  background: url("../img/logo.png") no-repeat 0 center;
  padding-left: 30px;
  position: relative;
}

.header__logo span {
  margin-left: 100px;
  position: absolute;
  top: 0;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  color: #ffffff;
  width: 40%;
  text-align: left;
}

.header__button {
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-family: "black", Ariel, sans-serif;
  color: #ffffff;
  margin-top: 50px;
  font-size: 1.2rem;
  margin-bottom: 100px;
  background: #00c3ff;
  background: -webkit-linear-gradient(left, #00c3ff 1%, #0081ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #00c3ff), to(#0081ff));
  background: -o-linear-gradient(left, #00c3ff 1%, #0081ff 100%);
  background: linear-gradient(to right, #00c3ff 1%, #0081ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c3ff', endColorstr='#0081ff',GradientType=1 );
}

.arrow {
  position: relative;
  margin-top: 20px;
  color: #ffffff;
}

.arrow__left {
  right: 100px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9rem;
  position: absolute;
}

.arrow__right {
  right: 40px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9rem;
}

.nav {
  margin-left: auto;
  margin-right: 20px;
}

.nav__item {
  padding: 15px 25px;
  color: #ffffff;
  margin-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid transparent;
}

.nav__item:hover {
  border-color: #fff;
  border-radius: 30px/50%;
}

.nav__item:last-child {
  margin-right: 0;
}

.services {
  padding-top: 100px;
}

.services__title {
  text-align: center;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item {
  width: 50%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 20px;
}

.services__item:nth-child(n+1) {
  padding-right: 20px;
}

.services__item img {
  width: 100%;
}

.services__text {
  width: 90%;
  text-align: left;
  padding-left: 30px;
  margin: 0 auto;
  position: absolute;
  color: #ffffff;
  bottom: 50px;
}

.services__text h3 {
  margin-bottom: 20px;
  font-family: "medium", Ariel, sans-serif;
}

.hero {
  margin-top: 100px;
}

<<<<<<< HEAD
.hero__top {
=======
.hero__wrap {
>>>>>>> f1aa006d005dbf19ad6f03c01bd7b8698a33b596
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
<<<<<<< HEAD
  width: 40%;
=======
  width: 50%;
>>>>>>> f1aa006d005dbf19ad6f03c01bd7b8698a33b596
}

.hero__title {
  text-align: left;
  font-size: 2rem;
<<<<<<< HEAD
}

.hero__author {
  text-align: right;
  margin-top: 40px;
  color: #000;
  font-family: "medium", Ariel, sans-serif;
}

.hero__author span {
  font-family: "italic", Ariel, sans-serif;
}

.hero__pic {
  width: 57%;
}

.hero__pic img {
  width: 100%;
}

.hero__list {
  margin-top: 50px;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.hero__article {
  width: 55%;
}

.hero__article h3 {
  color: #000;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: "medium", Ariel, sans-serif;
}

.hero__article h3:after {
  content: '';
  display: block;
  border: 2px solid #13C1FF;
  margin-top: 20px;
  width: 50px;
}

.icon {
  position: relative;
  text-align: center;
}

.icon1 {
  background-image: url(../img/sprite.png);
  background-position: -240px 0px;
  width: 269px;
  height: 207px;
}

.icon2 {
  background-image: url(../img/sprite.png);
  background-position: 0px -245px;
  width: 242px;
  height: 202px;
}

.icon3 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 240px;
  height: 245px;
}

.icon__text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

.icon__text span {
  font-size: 1rem;
  font-family: "regular", Ariel, sans-serif;
  text-align: left;
  display: block;
  padding-left: 20px;
  font-size: 0.9rem;
}

.icon__number {
  font-size: 4rem;
  font-family: "black", Ariel, sans-serif;
=======
}

.hero__author {
  text-align: right;
  margin-top: 40px;
  color: #000;
  font-family: "medium", Ariel, sans-serif;
}

.hero__author span {
  font-family: "italic", Ariel, sans-serif;
>>>>>>> f1aa006d005dbf19ad6f03c01bd7b8698a33b596
}
