doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport")
        title Русская печь
        link( rel="stylesheet" type="text/css" href="libs/slick/slick.css")
        link( rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css")
        link(rel='stylesheet' href='css/main.css')
        //script(type="text/javascript" src = " https://code.jquery.com/jquery-3.0.0.js ")
        //script( type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js")
        //script( type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
        //script( type="text/javascript" src="libs/slick/slick.min.js" defer)
        //script(type='text/javascript' src='js/main.min.js' defer)

    body
        include sections/header
        include sections/services
        include sections/hero
        //include sections/capabilities
        //include sections/ittinery
        //include sections/team
        //include sections/sayings
        //include sections/partners
        //include sections/form
        //include sections/footer


