// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$icon-cap1-name: 'icon_cap1'
$icon-cap1-x: 240px
$icon-cap1-y: 0px
$icon-cap1-offset-x: -240px
$icon-cap1-offset-y: 0px
$icon-cap1-width: 269px
$icon-cap1-height: 207px
$icon-cap1-total-width: 509px
$icon-cap1-total-height: 447px
$icon-cap1-image: '../img/sprite.png'
$icon-cap1: (240px, 0px, -240px, 0px, 269px, 207px, 509px, 447px, '../img/sprite.png', 'icon_cap1', )
$icon-cap2-name: 'icon_cap2'
$icon-cap2-x: 0px
$icon-cap2-y: 245px
$icon-cap2-offset-x: 0px
$icon-cap2-offset-y: -245px
$icon-cap2-width: 242px
$icon-cap2-height: 202px
$icon-cap2-total-width: 509px
$icon-cap2-total-height: 447px
$icon-cap2-image: '../img/sprite.png'
$icon-cap2: (0px, 245px, 0px, -245px, 242px, 202px, 509px, 447px, '../img/sprite.png', 'icon_cap2', )
$icon-cap3-name: 'icon_cap3'
$icon-cap3-x: 0px
$icon-cap3-y: 0px
$icon-cap3-offset-x: 0px
$icon-cap3-offset-y: 0px
$icon-cap3-width: 240px
$icon-cap3-height: 245px
$icon-cap3-total-width: 509px
$icon-cap3-total-height: 447px
$icon-cap3-image: '../img/sprite.png'
$icon-cap3: (0px, 0px, 0px, 0px, 240px, 245px, 509px, 447px, '../img/sprite.png', 'icon_cap3', )
$spritesheet-width: 509px
$spritesheet-height: 447px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($icon-cap1, $icon-cap2, $icon-cap3, )
$spritesheet: (509px, 447px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
