section.destination
    .container
        .title.destination__title
            .title__head Des
                span tination
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid labore odit omnis possimus reiciendis sed.
        .destination__content
            .destination__content_top
                .destination__form
                    form.form__search
                        input(type='text' name='search' placeholder='search')
                        button(type='submit')
                            i( class="fas fa-search")
                nav.destination__nav
                    a(href='#') all place /
                    a(href='#') recomented place
            .destination__slider
                ul.destination__list
                    li.destination__item
                        .destination__pic
                            img(src='img/destination1.jpg' alt='img')
                            .destination__descr
                                a(href='#') see more
                                i( class="fas fa-arrow-right")
                            .destination__text
                                h3 Batu
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nulla obcaecati quae quisquam. Assumenda doloribus eligendi nihil. Animi exercitationem facilis fugit illo laboriosam laborum necessitatibus officiis quidem ullam vel! Perspiciatis.
                        .destination__pic
                            .destination__text
                                h3 Batu
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nulla obcaecati quae quisquam. Assumenda doloribus eligendi nihil. Animi exercitationem facilis fugit illo laboriosam laborum necessitatibus officiis quidem ullam vel! Perspiciatis.

                            img(src='img/destination2.jpg' alt='img')
                            .destination__descr
                                a(href='#') see more
                                i( class="fas fa-arrow-right")
                        .destination__pic
                            img(src='img/destination3.jpg' alt='img')
