section.form
    .container
        form.form__us(method='post' action='mail.php')
            input.form__text(type='text' placeholder='Name'  data-valid='required')
            input.form__text(type='text' placeholder='Subject'  data-valid='required')
            input.form__text(type='text' placeholder='Email' data-valid='required' data-email)
            input.form__text(type='text' placeholder='Number' data-valid='required' data-phone)
            textarea.form__msg Massage
            button.button.form__submit Send Message
        .form__contact
            address.address Adress line 1
                br
                |Adress line 2
            |Phone: +548 945645
            br
            |Fax: +456456 54546
            br
            |Web: www.designagency.net
            br
            |E-mail: info@designagency.net
            .map: img(src='img/map.jpg' alt='map')
