header.header
    .container
        .header__top
            .header__logo
                //img(src='img/logo.png')
                |Опытные
                br
                |печники
                span г.Казань
            include nav
            .header__phone +7 (927) 247-14-14
        .header__bottom
            .title.header__title
                h1.title__head Строим печи и
                    br
                    |камины с
                    br
                    |уникальным
                    br
                    |дизайном
                .title__text Более 11 лет строим элитные печи в Татарстате, Башкиртостане, Москве
                button.header__button Заказать работу
            .header__slider
                ul.slider__container
                    li.slider__item
                        img(src='img/header1.jpg' alt='img')
                    .arrow
                        .arrow__left
                            i(class="fas fa-chevron-left")
                        .arrow__right
                            i( class="fas fa-chevron-right")







