section.ittinery
    .container
        .title.ittinery__title
            .title__head Set
                span ittinery
            h1.title__text Simply drag and drop what you want to visit, and voila we make a ittinery and
            |schedule forvacation. Have a great trip !
        .ittinery__content
            .ittinery__setting
                .dest
                    .dest__head Yuor Ittinery Title Here
                    .dest__box
                        .dest__date
                            .dest__day
                            .calendar
                        .dest__text Mt. Bromo
                            .dest__clock
                        ul.dest__list
                            li(class='dest__setdestination hidden') Enjoy Malang while Listening Music
                            li(class='dest__setdestination hidden') Gonna Eat BAKSO
                        button.dest__addestination add sub destination
                    .dest__box
                        .dest__date
                            .dest__day
                            .calendar
                        .dest__text Batu City
                            .dest__clock
                        ul.dest__list
                            li(class='dest__setdestination hidden') Enjoy Malang while Listening Music
                            li(class='dest__setdestination hidden') Gonna Eat BAKSO
                        button.dest__addestination add sub destination

            .ittinety__box
                h3.ittinery__head List of Destination
                .ittinery__filter
                    .ittinery__sort
                        span sort by:
                        button Mountain
                    form
                        input(type='text' class='hidden')
                        button(type='button' class='button-search')
                ul.ittinary__list
                    li.ittinary__item



