nav.nav
    -var dataSections = [ 'Services', 'Portfolio', 'Price', 'Contact']
    -var arrNameItems = ['Услуги', 'Каталог','Цены', 'Контакты']
        each item, key in arrNameItems
            if item === 'Home'
                a.nav__item.nav--active(href='#' data-link=dataSections[key])=item
            else
                a.nav__item(href='#' data-link=dataSections[key])=item
