section.sayings
    .container
        .title.sayings__title
            .title__head What they says
            h1.title__text Lorem ipsum dolor sit amet, consectetur adipisicing.
        .sayings__content
            .sayings__slider.slider
                .sayings__case
                    -for (var i=1;i<=5;i++) {
                    .sayings__item
                        img(src='img/team'+i+'.jpg' alt='pic')

                    -}
                    //button(type='button'): i(class="page__prev fas fa-chevron-left")
                    //button(type='button'): i(class="page__next fas fa-chevron-right")

            .sayings__text
                .sayings__cytate
                    h5 Al Rayhan/UI designer
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fuga illo impedit incidunt magnam maiores molestias quaerat quod. Facere, tenetur!
                .sayings__cytate
                    h5 Al Rayhan2/UI designer
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fuga illo impedit incores molestias quaerat quod. Facere, tenetur!
                .sayings__cytate
                    h5 Al Rayhan3/UI designer
                    p , consectetur adipisicing elit. Dicta, fuga illo impedit incidunt magnam maiores molestias quaerat quod. Facere, tenetur!
                .sayings__cytate
                    h5 Al Rayhan4/UI designer
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, fuga illo impedit incidunt magnam !
                .sayings__cytate
                    h5 Al Rayhan5/UI designer
                    p Lorem ipsum dolor cing elit. Dicta, fuga illo impedit incidunt magnam maiores molestias quaerat quod. Facere, tenetur!
                //.like
            .sayings__arrows
