section.services
    .container
        .services__title.title Наши услуги
        ul.services__list
            li.services__item
                img(src='img/services1.jpg' alt='img')
                .services__text
                    h3 Отопительные печи
                    p Компания ‘Опытные печники выполнит кладку русской’ или любой другой печи с лежанкой, чтобы и в вашем доме было тепло и уютно.
            li.services__item
                img(src='img/services2.jpg' alt='img')
                .services__text
                    h3 Бербекю
                    p Вы сможете готовить полный спект блюд на открытом огне и в казане. Шашлык, барбекю, мясо, тако, ребрышки и еще масса полезных продуктов.
            li.services__item
                img(src='img/services3.jpg' alt='img')
                .services__text
                    h3 Камины
                    p Основное предназначение камина скорее эстетическое, а вот для отопления помещения их используют редкоиз-за низкой теплоотдачи.
            li.services__item
                img(src='img/services4.jpg' alt='img')
                .services__text
                    h3 Банные печи
                    p Устройство печи для бани из кирпича включает закрытую каменку и место для установки бака с водой. В каменки размещают камни для согревания.
            li.services__item
                img(src='img/services5.jpg' alt='img')
                .services__text
                    h3 Строительсьво беседок
                    p Современная беседка с барбекю – мечта многих владельцев загородных коттеджей и дачных участков. Здесь удобно принимать гостей на свежем воздухе.
            li.services__item
                img(src='img/services6.jpg' alt='img')
                .services__text
                    h3 Прочистка труб
                    p Если в вашем доме имеется печь или камин, не нужно ждать пока отопительное оборудование и дымоходы полностью засоряться.


